<h2>@Model["venue"].GetName() <span class="edit-link"><a href="/venues/update/@Model["venue"].GetId()">Edit this Venue</a><span> </h2>

@if (Model["bands"].Count == 0)
{
  <p>There are no bands associated with this venue.</p>
}
else
{
  <ul>
  @foreach (var band in Model["bands"])
  {
    <li><a href="/bands/@band.GetId()">@band.GetName()</a></li>
  }
  </ul>
}

<a href="/">Back to Main Page</a>
