<h2>Update @Model.GetName()</h2>

<p>Are you sure you want to delete this venue?</p>

<form action="/venues" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="venue_id" value="@Model.GetId()">

  <button type="submit" name="button">Delete This Venue</button>
</form>

<a href="/venues/@Model.GetId()">Back to this venue page</a>
<a href="/">Back to Main Page</a>
